bidict
h5py
packaging
pandas
plotly
numpy
scikit-learn>=0.23
sortedcollections

# Adding simplified parsing wrapper of argparse, w/ nesting, inheritance, &
# yaml configs. May just code this myself as what I want is minimal and mods
# are necessary to this anyways.
#simple-parsing
#ConfigArgParse
